doctype html 
html 
  head 
    title TMWSD Challenge 
  body 
    h1 This Message Will Self Destruct!
    form(method='POST', action='/messages/add')
      #form-group
        label Subject: 
        input.form-control(name='subject', type='text')
        br
      #form-group 
        label Body: 
        textarea.form-control(name='body')
      input.btn.btn-primary(type='submit', value='Submit')
    ul
      each message, i in messages
        li= message.subject